html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 10px;
}

header {
    padding: 1rem 0;
}

header ul,
.breadcrumbs {
    display: flex;
    justify-content: flex-end;
}

header li {
    padding-left: 1rem;
    list-style: none;
}

header a {
    color: #000;
    font-size: .8rem;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: auto;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 20px;
    min-width: 980px;
}

.links, .l-links ul, .r-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-links ul, .r-links ul {
    min-width: 17rem;
    padding-right: 2rem;
}

.l-links li, .r-links li {
    list-style: none;
}

.l-links a, .r-links a {
    color: #666;
    font-size: .8rem;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: auto;
}

.r-links a {
    padding-left: 2rem;
}

.l-links a:hover, .r-links a:hover {
    text-decoration: underline;
}

.google-apps {
    background: url('./images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

.bg-notif {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,.55);
}

.notifications {
    background: url('./images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -194px -21px;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 7.3rem;
}

#logo {
    background: url('./images/googlelogo_color_272x92dp.png') no-repeat;
    background-size: 272px 92px;
    width: 272px;
    height: 92px;
    margin-bottom: 2rem;
}

.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

.search-engine {
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-engine:hover {
    border: 1px solid #c6c6c6;
}

.search-engine:focus {
    border: 1px solid darkblue;
}

.searcher {
    font-size: 1rem;
    width: 30rem;
    padding: .5rem;
    border: none;
    outline: none;
}

.input-inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-keyboard {
    background: url('./images/keybo.gif') no-repeat center;
    height: 11px;
    width: 19px;
    padding: 0 .5rem;
}

#ok-google {
    background: url('./images/okg.png') no-repeat -3px 0;
    background-size: 24px 24px;
    height: 23px;
    width: 17px;
    padding: 0 .5rem;
}

.search-buttons {
    padding-top: 18px;
}

.search-buttons input {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.search-buttons input:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
